 main{
    margin: 0;
    .bannerIndex{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
            img{
                width: 1348px;

                @media (max-width: 800px){
                    width: 100%;
                }
            }

            h2{
                height: 100px;
                display: block;
                position: absolute;
                right: 50px;
                font-weight: 700;
                font-size: 50px;
                line-height: 50px;
                color: #FFFFFF;
            }

            @media (max-width: 800px){
                img{
                    width: 100%;
                }
                h2{
                    font-size: small;
                    line-height: 15px;
                }  
            }       
    }

     section{

        h2{
            color: #FFA000;
            font-size: 55px;
            line-height: 67px;
            text-align: center;
            padding: 50px;

            
        @media(max-width: 800px){
            text-align: center;
            font-size: 30px ; 
        }
        }
        .receitas{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &--all{
                display: flex;
                justify-content: center; 
                flex-direction: column; 
                align-items: center; 
                margin: 0;
                padding: 40px;
                @media(max-width: 800px){
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
                
                img{
                    width: 300px;
                    height: 300px;
                     
                }

                span{
                    font-size: 26px;
                    font-weight: 600;
                    padding: 15px;
                }
                button{
                    color: white;
                    font-weight: 700;
                    font-size: 24px;
                    background: #176902;
                    padding: 5px 100px;
                    border: none;
                }
            }
        }    
   }

   .sectionRodape{

    @media(max-width: 800px){
        display: none !important;
         
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
        h3{
            width: 588px;
            height: 96px;
            font-weight: 700;
            font-size: 65px;
            line-height: 79px;
            color: #FFFFFF;
            padding: 50px;
            margin: 58px 0px 60px 0px;
            box-sizing: border-box;
          
        }

        p{
            width: 424px;
            height: 333px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin: 58px 55px 0px;
            box-sizing: border-box;
        }
    }


}
