body{
    footer{
        width: 100%;
        height: auto;
        background: #FFC107;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 481px) {
            height: 70px;
            width: auto;
            box-sizing: border-box;
            img{
                width: 250px;
            }
        }

        p{
            width: 100%;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            padding: 10px 94px;
            margin-right: 356px;
            @media (max-width: 800px){
              display: none;   
            }
        }
    }
}